body {
  background: black;
}
.hvr-icon-back {
	position: absolute;
	left: 50px;
	top: 20px;
	font-size: 40px;
	color: white;
	text-decoration: none;
  	display: inline-block;
  	vertical-align: middle;
  	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  	-webkit-transition-duration: 0.1s;
  	transition-duration: 0.1s;
  	transition: text-shadow none;
}
.hvr-icon-back .hvr-icon {
 	-webkit-transform: translateZ(0);
  	transform: translateZ(0);
  	-webkit-transition-duration: 0.1s;
  	transition-duration: 0.1s;
  	-webkit-transition-property: transform;
  	transition-property: transform;
  	-webkit-transition-timing-function: ease-out;
  	transition-timing-function: ease-out;
  	transition: text-shadow none;
}

.hvr-icon-back:hover {
	color: white;
	cursor: w-resize;
	text-shadow: -3px 3px 1px rgba(0,0,0,1);
}
.hvr-icon-back:hover .hvr-icon, .hvr-icon-back:focus .hvr-icon, .hvr-icon-back:active .hvr-icon {
  	color: #f2f6fc;
  	cursor: w-resize;
  	-webkit-transform: translateX(-4px);
  	transform: translateX(-4px);
}